<h1>Країни</h1>
<table>
    <tr>
        <td><img src="https://www.svoiludi.ru/images/tb/71/australia-4934_w514h343.jpg" alt="Австралія" srcset=""></td>
        <td>Австра́лія, або Австралі́йський Сою́з (англ. Commonwealth of Australia) — держава у Південній півкулі Землі на Австралійському материку і острові Тасманія. До складу країни входять також багато невеликих островів, серед яких Норфолк і Лорд-Гав в Тихому океані, Кокосові острови в Індійському та інші. Найближчими сусідніми країнами є Індонезія, Східний Тимор і Папуа Нова Гвінея на півночі, Соломонові острови, Вануату і Нова Каледонія на північному сході, Нова Зеландія на південному сході.  </td>
    </tr>
    <tr>
        <td><img src="https://files.tpg.ua/pages2/87860/Poland_main.jpg" alt="Польша" srcset=""></td>
        <td>По́льша (польск. Polska), официальное название — Респу́блика По́льша (польск. Rzeczpospolita Polska) — государство в Центральной Европе[10]. Население, по итогам 2015 года, составляет 38 623 221 человек[11], территория — 312 679 км². Занимает тридцать шестое место в мире по численности населения и шестьдесят девятое по территории. </td>
    </tr>
    <tr>
        <td><img src="https://files.tpg.ua/pages2/87815/Italia_main.jpg" alt="Італія" srcset=""></td>
        <td>Іта́лія (італ. Italia), Італі́йська Респу́бліка (італ. Repubblica Italiana) — держава на півдні Європи, у Середземномор'ї. Займає Апеннінський півострів, Паданську рівнину, південні схили Альп, острови Сицилія, Сардинія тощо. На суходолі Італія межує з Францією на північному заході, зі Швейцарією й Австрією на півночі та Словенією на північному сході. </td>
    </tr>
    <tr>
        <td><img src="https://i.ytimg.com/vi/odPdNWi_mCo/maxresdefault.jpg" alt="Канада" srcset=""></td>
        <td>Кана́да (англ. Canada, МФА: [ˈkænədə], фр. Canada, МФА: [kanaˈda]) — країна, що займає північну частину Північної Америки та майже половину площі континенту, простягаючись від Атлантичного океану на сході до Тихого океану на заході. Це друга за площею країна світу[2] (9 976 140 км²), що поступається лише Російській федерації. Канада межує зі Сполученими Штатами Америки на півдні та північному-заході та має морські кордони з Францією (о-ви Сен-П'єр і Мікелон) і Ґренландією (королівство Данія). </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>