<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<article>
   <h1>
       <p>Зустріч Нового року у Венеції !

Львів - Будапешт - Венеція – Верона -  Львів

Новорічний тур у романтичну Італію від 165 ЄДень 1 Львів
<br> Зустрічає туристів представник компанії. 8:30 – виїзд зі Львова. Переїзд  кордону.Приїзд у  Будапешт. Прекрасним підсумком  дня буде  програма «Будапешт в ілюмінації» – катання на кораблі по річці Дунай з келихом вишуканого шампанського  (вартість 15€). Розміщення та ночівля у готелі.

Новорічний тур у романтичну Італію від 165 Є
<br>
 День 2 Смачно снідаємо та виселяємось з готелю. 09:00 – цікава екскурсія по  Будапешті. 
 Вільний час. 21:00 - нічний переїзд у Венецію.
Новорічний тур у романтичну Італію від 165 ЄДень 3 Приїжджаємо у  Венецію. 
Зранку всі відправляємося на передноворічний шопінг –  гіпермаркет Panorama  у Венеції. 
11:30 – захоплююча екскурсія «Перлина Адріатики» (користування міським транспортом (20€) в  дві сторони). 
Свобідний час. Радимо відвідати екскурсію на кораблі «Краса Венеціанської лагуни» з келихом
 ігристого шампанського  (25€), «Стежками венеціанського Казанови» (20€). Екскурсія на  гондолах (25€). 
СВЯТКУЄМО НОВИЙ 2016 РІК!Поселяємося у готель поруч  Венеції та ночуємо.</p>
   </h1>
   </article>
<h2>
    <p>
        Шейк по - Європейськи

6 днів від 165Євро
<br>

Львів – Краків – Дрезден – Прага – Відень – Будапешт – Львів

День 1

Виїзд зі Львова 08:30. Зупинка у Кракові.
Соляні копальні Велічка (25Є, діти до 12 років 20Є). Це варто побачити. Соляні озера, підземні лабіринти, коридори та галереї на семи підземних рівнях…

Заселення в готель.

Різдвяний тур "Шейк по Європейськи" від 165 ЄДень 2

Сніданок, виселення з готелю.

«Королівський шлях» о 09:00. Оглядова екскурсія Краковом. Вільний час.
Різдвяний тур "Шейк по Європейськи" від 165 Є

Переїзд і заселення у транзитний готель.

День 3

Різдвяний тур "Шейк по Європейськи" від 165 ЄСніданок, виселення з готелю. Переїзд у Дрезден.

«Перлина німецького барокко»оглядова екскурсія, знайомство з містом.

Екскурсія в Мейсин (25Є). Відвідання порцелянової мануфактури, де майсенську порцеляну виробляють тільки вручну.Переїзд у Прагу.

Заселення в готель.
    </p>
</h2>
<h1>
    <p>
        Львів - Вроцлав - Берлін - Париж - Прага - Краків - Велічка - Львів

6 днів

День 1 08:00 — збір групи на залізничному вокзалі. Перетин кордону.

L'amour en trois: ти, я і Париж від 166 ЄРекомендуємо відвідати

Переїзд в готель. По дорозі в готель пропонуємо оглядову екскурсію по Вроцлаву (факультативно 10Є).

Ночівля на території Польщі.
L'amour en trois: ти, я і Париж від 166 ЄДень 2  Снідаємо в готелі. Переїзд до Берліну. Надзвичайно сучасне і стильне місто зі своїм неповторним шармом. Це місто від часу свого заснування бачило багато як радісних так і сумних моментів. 
Рекомендуємо відвідання музею Пергамон (25Є), де Ви зможете у повній мірі відчути і побачити витвори  мистецтва давніх часів. Просто надзвичайно велитенський комплекс у якому знаходиться безліч античних артефактів, витворів ісламського мистецтва. Вівтар “Пергамону” – це серце музею, вік якого є понад 165 років до нашої ери. 

L'amour en trois: ти, я і Париж від 166 ЄРекомендуємо екскурсію “Заворожуючий Берлін” (15Є). Це гарна можливість відвідати Бульвар Зірок, символ Берліна – Соні Центр. Зокрема Вас чекає гарна можливість відвідати місце, де проводиться Берлінський кінофестиваль. Вечірній виїзд у Париж.
День 3 Париж є напевно найромантичнішим місцем у світі. Його мріють відвідати величезна кількість людей, побачити всім відому Ейфелеву Вежу, Єлисейські поля, Лувр чи Тріумфальну арку. Це незвичайне місто, що не має аналогів ніде у світі. Вільний час.
Рекомендований факультатив:
Хмарочос Монпарнас (14Є). Тут ліфт піднімає Вас за 38 секунд на 56 – й поверх. У закритому оглядовому майданчику для Вас відкривається просто приголомшливий вид на все місто. А якщо ж піднятися ще трішки пішки на вертолітний майданчик, що знаходиться уже на 59 поверсі. А уже тут вид на місто просто захоплює і не потребує зайвих слів. Це потрібно тільки побачити!!!

Вечірній круїз на р. Сені (14Є) відкриває усю ту чарівність, романтичну атмосферу за що і всі так люблять це місто. Ви пропливатимите повз усі найвизначніші пам'ятки, а саме: Ейфелеву вежу (візитну картку міста), острів, де знаходиться «Notre-Dame de Paris», і ти реально відчуєш Париж. Легке колисання кораблика, безліч вечірних вогнів ще більше занурять тебе у цю атмосферу.
L'amour en trois: ти, я і Париж від 166 ЄПропонуємо відвідати Ейфелеву вежу (15Є). Ейфелева вежа – це візитна картка Парижу без якого неможливо просто уявити це місто. З верхівки цієї вежі відкривається заворожуюча панорама звідки видно кожен куточок Парижу. Відпочинок  у готелі
    </p>
</h1>
