<h1>Тури</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тури</title>
    <style>
        table,th,td {
border:4px slateblue;
        }
    </style>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>Австралія</td>
                <td>600Є</td>
                <td>10 днів</td>
            </tr>
            <tr>
                <td>Польща</td>
                <td>200Є</td>
                <td>5 днів</td>
            </tr>
            <tr>
                <td>Італія</td>
                <td>300Є</td>
                <td>7 днів</td>
            </tr>
            <tr>
                <td>Канада</td>
                <td>500Є</td>
                <td>6 днів</td>
            </tr>
            <tr>
                <td>Іспанія</td>
                <td>400Є</td>
                <td>8 днів</td>
            </tr>
            <tr>
                <td>ОАЕ</td>
                <td>1000Є</td>
                <td>7 днів</td>
            </tr>
            <tr>
                <td>Болгарія</td>
                <td>300Є</td>
                <td>9 днів</td>
            </tr>
            <tr>
                <td>Греція</td>
                <td>500Є</td>
                <td>7 днів</td>
            </tr>
            <tr>
                <td>Турція</td>
                <td>800Є</td>
                <td>6 днів</td>
            </tr>
            <tr>
                <td>Карпати </td>
                <td>100Є</td>
                <td>10 днів</td>
            </tr>
        </table>

    </div><!--end .container -->
</body>
</html>